.contact-container {
  display: grid;
  grid-template-areas:
    "header"
    "contact";
  grid-gap: 15px;
  grid-template-rows: 16vh 1fr;
  padding: 20px;
}

.contact-main {
  grid-area: contact;
  border-radius: 15px;
  background-color: rgba(91, 171, 245, 0.5);
  padding: 20px;
}

.contact-form-container {
  padding: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
