* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background: linear-gradient(to top, black, 85%, #4957b0);
  background-attachment: fixed;
}

h1 {
  color: white;
}

p {
  color: white;
}

.page-template-grid {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-gap: 15px;
  grid-template-rows: 16vh 1fr;
  padding: 20px;
}

@media only screen and (max-width: 700px) {
  .page-template-grid {
    padding: 10px;
    grid-gap: 8px;
  }
}

.content-template {
  grid-area: main;
  display: grid;
}

@media only screen and (max-width: 800px) {
  .content-template {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
}

.single-container {
  border-radius: 15px;
  background-color: rgba(91, 171, 245, 0.5);
  padding: 20px;
}

body {
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-header {
  text-align: center;
  padding-bottom: 15px;
}

.inner-div {
  text-align: center;
  background-color: rgba(91, 171, 245, 0.9);
  border-radius: 15px;
  border: solid deepskyblue 3px;
  padding: 15px;
}

.flex-item{
  margin-bottom: 15px;
}


.flex-container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
